
mat-form-field {
  width: 100%;

  ::ng-deep {
    .mat-form-field-subscript-wrapper {
      min-height: unset !important;

      .fs-form-error {
        padding-bottom: 5px;
      }
    }
  }
}

.description {
  text-align: center;
}

app-code-input {
  margin: 20px auto 0;
  display: block;
}
