<div class="code-container">
  <fs-2fa-verification-code
    [recipient]="(formatRecipient && verificationMethod.type === VerificationMethodType.Sms) ? (recipient | fsPhone) : recipient"
    [type]="verificationMethod.type"
    [code]="code"
    [codeLength]="codeLength"
    (codeChange)="codeChanged($event)"
    (codeComplete)="codeComplete($event)">
  </fs-2fa-verification-code>
</div>
<div class="additional">
  @if (showTrustedDevice) {
    <div
      class="trust-device"
      >
      <mat-checkbox
        name="trust-device"
        [(ngModel)]="trustDevice"
        (ngModelChange)="trustDeviceChange.emit($event)">
        <div class="small">
          Bypass 2-step verification
          @if (trustDays) {
            for {{ trustDays }} days
          }
          @if (!trustDays) {
            for future signins
          }
        </div>
      </mat-checkbox>
    </div>
  }
</div>