<fs-list [config]="listConfig">
  <fs-list-column class="col-icon" width="1%">
    <ng-template fs-list-cell let-row="row">
      @if (row.type === VerificationMethodType.Sms) {
        <mat-icon>textsms</mat-icon>
      }

      @if (row.type === VerificationMethodType.Email) {
        <mat-icon>email</mat-icon>
      }

      @if (row.type === VerificationMethodType.App) {
        <mat-icon>phone_iphone</mat-icon>
      }
    </ng-template>
  </fs-list-column>
  <fs-list-column class="col-name">
    <ng-template fs-list-cell let-row="row">
      <div class="row">
        @if (row.type === VerificationMethodType.Sms) {
          <div class="row">
            <fs-country [code]="row.phoneCountry" [showName]="false"></fs-country>
            <span>{{row.phoneNumber | fsPhone}}</span>
          </div>
        }

        @if (row.type === VerificationMethodType.Email) {
          {{row.email}}
        }

        @if (row.type === VerificationMethodType.App) {
          App
        }

        @if (row.default) {
          <app-defaulted></app-defaulted>
        }
      </div>
    </ng-template>
  </fs-list-column>
</fs-list>