<form
  fsForm
  [submit]="submit">
  <fs-dialog>
    <h1 mat-dialog-title>
      Email setup
    </h1>
    <mat-dialog-content>
      @if (verificationMethod) {
        <fs-2fa-verification
          [verificationMethod]="verificationMethod"
          [(code)]="code"
          (codeCompleted)="codeCompleted($event)"
          [resend]="resend"
          [(trustDevice)]="trustDevice">
        </fs-2fa-verification>
      } @else {
        <p>
          The app will only use this email for verifying your account security.
        </p>
        <mat-form-field>
          <mat-label>
            Email
          </mat-label>
          <input
            matInput
            [required]="true"
            [(ngModel)]="email"
            [fsFormEmail]="true"
            name="email">
        </mat-form-field>
        <mat-checkbox
          name="default"
          [(ngModel)]="default"
          [disableRipple]="true">
          Make this the default verification method
        </mat-checkbox>
      }
    </mat-dialog-content>
    <mat-dialog-actions>
      <button
        mat-button
        color="primary"
        type="submit">
        Next
      </button>
      <button
        mat-button
        type="button"
        [mat-dialog-close]="undefined">
        Cancel
      </button>
    </mat-dialog-actions>
  </fs-dialog>
</form>