<fs-dialog>
  <h1 mat-dialog-title>
    2-step verification
  </h1>
  <mat-dialog-content>
    <table>
      @if (verificationMethodTypes[VerificationMethodType.Sms]) {
        <tr>
          <td>
            <mat-icon>
              textsms
            </mat-icon>
          </td>
          <td>
            <div class="type">
              <span>
                Text message
              </span>
              @if (textHasVerificationMethod) {
                <ng-container [ngTemplateOutlet]="enabledChip"></ng-container>
              }
              @if (defaultSms) {
                <app-defaulted></app-defaulted>
              }
            </div>
            <div class="small">
              Verification codes are sent by text message
              @if (textHasVerificationMethod) {
                to
                <span class="items">
                  @for (item of twoFactorManageService.smsVerificationMethods; track item) {
                    <span>
                      {{ item.phoneNumber | fsPhone }}
                    </span>
                  }
                </span>
              }
            </div>
          </td>
          <td>
            @if (textHasVerificationMethod) {
              <button
                mat-stroked-button
                type="button"
                (click)="textMessageManage()">
                Manage
              </button>
            } @else {
              <button
                mat-stroked-button
                type="button"
                (click)="textMessageAdd()">
                Turn on
              </button>
            }
          </td>
        </tr>
      }
      @if (verificationMethodTypes[VerificationMethodType.Email]) {
        <tr>
          <td>
            <mat-icon>
              email
            </mat-icon>
          </td>
          <td>
            <div class="type">
              <span>
                Email
              </span>
              @if (emailHasVerificationMethod) {
                <ng-container [ngTemplateOutlet]="enabledChip"></ng-container>
              }
              @if (defaultEmail) {
                <app-defaulted></app-defaulted>
              }
            </div>
            <div class="small">
              Verification codes are sent by email
              @if (emailHasVerificationMethod) {
                to
                <span class="items">
                  @for (item of twoFactorManageService.emailVerificationMethods; track item) {
                    <span>
                      {{ item.email }}
                    </span>
                  }
                </span>
              }
            </div>
          </td>
          <td>
            @if (emailHasVerificationMethod) {
              <button
                mat-stroked-button
                type="button"
                (click)="emailMessageManage()">
                Manage
              </button>
            } @else {
              <button
                mat-stroked-button
                type="button"
                (click)="emailMessageAdd()">
                Turn on
              </button>
            }
          </td>
        </tr>
      }
      @if (verificationMethodTypes[VerificationMethodType.App]) {
        <tr>
          <td>
            <mat-icon>
              phone_iphone
            </mat-icon>
          </td>
          <td>
            <div class="type">
              <span>
                Authenticator app
              </span>
              @if (appHasVerificationMethod) {
                <ng-container [ngTemplateOutlet]="enabledChip"></ng-container>
              }
              @if (defaultApp) {
                <app-defaulted></app-defaulted>
              }
            </div>
            <div class="small">
              Verification code is generated by an authenticator app such as Authy or Google Authenticator
            </div>
          </td>
          <td>
            @if (appHasVerificationMethod) {
              <button
                mat-stroked-button
                type="button"
                (click)="appRemove()">
                Remove
              </button>
            } @else {
              <button
                mat-stroked-button
                type="button"
                (click)="appAdd()">
                Turn on
              </button>
            }
          </td>
        </tr>
      }
    </table>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-button
      color="primary"
      type="button"
      [mat-dialog-close]="undefined">
      Close
    </button>
  </mat-dialog-actions>
</fs-dialog>
<ng-template #enabledChip>
  <fs-chip
    [backgroundColor]="'#70B601'"
    [size]="'tiny'">
    Enabled
  </fs-chip>
</ng-template>